$debug-cards = false

card()
  #main-prose
    p.step, div.card, p.card, div.step.spacer
      {block}

// Same as above, but don't apply margins
cardish()
  #main-prose
    p, div.card
      {block}
  
// Default card bottom margin (desktop)
$p = 160px
+cardish()
  padding:1rem
  background #fff
  opacity .4
  if $debug-cards
    border-width 1px
    border-style solid
  &.active
    opacity 1
    if $debug-cards
      background-color #bbffcc
  &.post-active
    opacity .8
    +mq(mobile)
      opacity .6
    if $debug-cards
      background-color #ffccbb
  transition opacity .5s
+card()
  // TODO: probably redundant?
  margin-top ($p / 4)
  margin-bottom $p
  for n in 1 2 3 4 5
    &.pad-bottom-{n}
      margin-bottom $p * n
    &.unpad-bottom-{n}
      margin-bottom ($p / n)

// Default bottom margin on mobile
$mp = $p * 2.5
+mq(mobile)
  +card()
    margin-top ($mp / 4)
    margin-bottom $mp
    for n in 1 2 3 4 5
      .pad-bottom-{n}
        margin-bottom $mp * n
      &.unpad-bottom-{n}
        margin-bottom ($mp / n)

// Assumed to be 'wrappers' containing inner step <p>s
#main-prose div.step
  &:last-child
    margin-bottom $p
    +mq(mobile)
      margin-bottom $mp

div.step.spacer
  height 1ex
