$focal_color = #0081cc
$contrast_color = #D4151C
$baseline_color = #bbb
if $screenshot_mode
  $baseline_color = #aa6

$web_opacity = .4

$focal_web_color = alpha($focal_color, $web_opacity)
$contrast_web_color = alpha($contrast_color, $web_opacity)
$baseline_web_color = alpha($baseline_color, $web_opacity)

$_darken = 0%
$focal_text_color = darken($focal_color, $_darken)
$contrast_text_color = darken($contrast_color, $_darken)

// mode for generating nice radar screenshots
$screenshot_mode = false
