#song-explorer
  +mq(mobile)
    margin-left 5%
    margin-right 5%
  margin-left: 10em
  margin-bottom: 10em

.meta_factoid
  margin-right: 1rem
  font-family: monospace
  font-size: .6rem
  display: inline-block


.picker
  a
    margin: auto .5rem
    cursor: pointer
  a.active
    font-weight: bold
  > div
    margin: 20px auto
