.graphic
  // gonna try to match .prose for now
  max-width: 40rem
  margin: 0 auto

.big-graphic
  width: 80%
  margin-left: 10%

// TODO: no longer used?
.songchart
  background-color: #673ab717
  .heading h3
    padding-top: .5rem
    padding-left: 1rem

if $screenshot_mode
  #song-explorer .radar
    margin-left 50px
    margin-top 15px
    margin-bottom 45px
