
.radar
  // Horizontally center
  display: block
  margin: 0 auto

  .axis
    $fs = 12px
    text
      font-size $fs
      $d = 1s
      transition font-size $d, font-weight $d
      font-family Helvetica, Arial, sans-serif
      letter-spacing 0.05em
      text-transform uppercase
      text-anchor middle
    text.left
      text-anchor start
    text.right
      text-anchor end
    text.left, text.right
      // XXX: hack
      transform translateY(-2px)
    text.highlight
      font-size $fs * 1.3
      font-weight bold
    line
      stroke-width .5
      stroke black

  .marker
    fill-opacity .01
    &.highlight
      fill-opacity .8

.spiderweb
  // primary song
  &.focal
    fill $focal_color
  // another song temporarily contrasted with primary song
  &.contrast
    fill $contrast_color
  // 'avg song' baseline blob
  &.baseline
    fill $baseline_color
    &.hidden
      //fill #9990
      polygon, circle
        fill-opacity 0
  // temporarily drawing attention to a particular web
  &.highlight polygon
    fill-opacity ($web_opacity * 1.5)
  &.fade polygon
    fill-opacity ($web_opacity * .5)
  $d = 1s
  polygon
    transition fill-opacity $d*2
    fill-opacity: $web_opacity
    &:hover
      fill-opacity: ($web_opacity * 1.5)
    &.hidden
      fill-opacity 0
  circle
    transition fill-opacity $d
    fill-opacity: .5
    &.hidden
      fill-opacity 0

