
.radar
  // Horizontally center
  display: block
  margin: 0 auto

  .axis
    text
      font-size 15px
      $d = 1s
      transition font-size $d, font-weight $d
    text.highlight
      font-size 19px
      font-weight bold
    line
      stroke-width .5
      stroke black

  .marker
    fill-opacity .01
    &.highlight
      fill-opacity .8

.spiderweb
  // primary song
  &.focal
    fill $focal_color
  // another song temporarily contrasted with primary song
  &.contrast
    fill $contrast_color
  // 'avg song' baseline blob
  &.baseline
    fill #bbb
    &.hidden
      //fill #9990
      polygon, circle
        fill-opacity 0
  $alpha = .4
  // temporarily drawing attention to a particular web
  &.highlight polygon
    fill-opacity ($alpha * 1.5)
  $d = 1s
  polygon
    transition fill-opacity $d*2
    fill-opacity: $alpha
    &:hover
      fill-opacity: ($alpha * 1.5)
    &.hidden
      fill-opacity 0
  circle
    transition fill-opacity $d
    fill-opacity: .5
    &.hidden
      fill-opacity 0

/*
// XXX: quick hack for browsing song radars quickly
.spiderweb.focal
  circle
  polygon
    fill-opacity: .02
    &:hover
      fill-opacity: .5
  .baseline polygon
    fill-opacity: .5
*/
