/* Turn this on to put little dotted borders around each flex item,
    to get a better sense of their sizes, and how space is distributed between/around them.
*/
$debug-flex = false
#story .sticky-wrapper
  flex 1.5 1 50rem
  order 1
  min-width 12rem
  // absolute: positioned relative to closest ancestor and 'removed from normal document flow' - no space is allocated for it
  //position absolute
  // I'm not sure if this flex stuff is actually providing any benefit, but kind of 
  // afraid to take it out at this point.
  .sticky
    &.hidden
      opacity 0
    opacity 1
    transition opacity 1s
    if $debug-flex
      & > *
        border-width 2px
        border-style dotted
        border-color forestgreen
    display flex
    flex-direction column
    // How space is distributed between/around content items along main (y) axis
    justify-content space-around
    // alignment of items on the cross-axis (horizontal)
    align-items stretch
    top 0
    bottom auto
    //margin-right 40%
    margin-left 2%
    // why?
    transform translate3d(0, 0, 0)
    // TODO: apparently a bad idea on mobile?
    height 100vh
    // cf. year-slider.styl
    .year-slider
      order 1
      flex 0 0 content
      width 100%
    .heading
      order 2
      flex 0 1
      .songchart-title
        margin-top 0
      .hidden
        // do this instead of display:none so the space for it remains reserved, and
        // the radar chart doesn't jump around
        opacity 0
    .chart
      order 3
      // XXX: When the sum of flex-grows for all child flex items is < 1, it means that
      // only that proportion of leftover space gets used for growing. Neat.
      flex .95 1
      min-height 0
      svg
        //max-height 80vh
        // TODO: Making sure there's room for the spotify embeds seems tricky. I'm probably missing something?
        // In the previous state (when max-height was set to 80vh), radar svg seems to somehow squeeze out the 
        // embeds (despite the latter div's 80px min height). .embeds
        // still shows as having a height of 80 in the DOM explorer, but the total height of svg + embeds is greater
        // than the height of the container, and the embeds are nowhere to be seen. Not sure what's going on.
        max-height 100%
        min-height 0
      .embeds
        min-height 80px
        iframe.contrast
          float right
