
+mq(mobile)
  #story 
    display block
    .right-spacer
      min-width 0
      max-width 0
  #main-prose
    // This takes too long to scroll into view otherwise.
    top -75vh
    position relative
    z-index 100
    margin 0 auto
    width 75%
