/* TODO: mobile scrolly styles
cf. song-repetition/src/css/story/scrolly-columns.styl
*/

$debug-scroll = false

#story
  // laid out normally then repositioned *relative to itself*
  position: relative
  width: 100%
  .sticky
    width 60%
    // positioned relative to closest ancestor and 'removed from normal document flow' - no space is allocated for it
    position absolute
    display flex
    flex-direction column
    justify-content start
    top 0
    left 0
    bottom auto
    margin-right 40%
    margin-left 2%
    transform translate3d(0, 0, 0)
    // TODO: apparently a bad idea on mobile?
    height 100vh
    .heading
      position static
      flex-grow .1
      flex-shrink 1
      svg.year-slider
        width 100%
        max-height 15vh
        min-height 0
        flex-shrink 1
        text.year
          alignment-baseline middle
      .main
        font-size 1.5rem
        margin-top 0
    .chart
      position static
      flex-grow .3
      flex-shrink 1
      min-height 0
      svg
        max-height 80vh
        min-height 0

  .scrolltext
    position: relative
    width: 33%
    max-width: 30rem
    margin-right: 2.5%
  .is-fixed
    // positioned relative to viewport
    position: fixed
  .is-bottom
    top: auto
    bottom: 0

  .step
    $p = 160px
    padding-top ($p / 4)
    padding-bottom $p
    $m = 2px
    margin-top $m
    margin-bottom $m
    if $debug-scroll
      background-color: rgba(255, 66, 2, .04)
      &.active
        background-color: rgba(66, 255, 2, .1)
    else
      &.active
        background-color rgba(66, 255, 2, .05)
    for n in 1 2 3 4 5
      .pad-bottom-{n}
        padding-bottom $p * n

