/* CUSTOM STORY STYLE */

.graphic
  // gonna try to match .prose for now
  max-width: 40rem
  margin: 0 auto

.big-graphic
  width: 80%
  margin-left: 10%

.radar
  display: block
  margin: 0 auto

.songchart
  background-color: #673ab717
  .heading h3
    padding-top: .5rem
    padding-left: 1rem

#song-explorer
  margin-left: 10em
  margin-bottom: 10em

.meta_factoid
  margin-right: 1rem
  font-family: monospace
  font-size: .6rem
  display: inline-block


.spiderweb polygon
  fill-opacity: .2
  &:hover
    fill-opacity: .5
.spiderweb circle
  fill-opacity: .5

/*
// XXX: quick hack for browsing song radars quickly
.spiderweb.focal
  & circle
  & polygon
    fill-opacity: .02
    &:hover
      fill-opacity: .5
  & .baseline polygon
    fill-opacity: .5
*/

.picker
  a
    margin: auto .5rem
    cursor: pointer
  a.active
    font-weight: bold
  > div
    margin: 20px auto
