/* TODO: mobile scrolly styles
cf. song-repetition/src/css/story/scrolly-columns.styl
*/

$debug-scroll = false

/**
 Overall layout of story thing:
   div#story
    div.sticky (sticky graphic element, see sticky-song.js and sticky.styl)
    div.prose.scrolltext
      a bunch of <p>, <div>, .step, etc. elements

 This module deals with #story, the arrangement of sticky and prose wrt the parent,
 and styling the contents of .scrolltext.
 The contents of .sticky are styled in sticky.styl.
 **/
#story
  // laid out normally then repositioned *relative to itself*
  position: relative
  width: 100%
  .scrolltext
    position: relative
    width: 33%
    max-width: 30rem
    margin-right: 2.5%
  .is-fixed
    // positioned relative to viewport
    position: fixed
  .is-bottom
    top: auto
    bottom: 0

  $p = 160px
  .step
    padding-top ($p / 4)
    padding-bottom $p
    $m = 0px
    margin-top $m
    margin-bottom $m
    if $debug-scroll
      background-color: rgba(255, 66, 2, .04)
      &.active
        background-color: rgba(66, 255, 2, .1)
    else
      &.active
        background-color rgba(66, 255, 2, .05)
    for n in 1 2 3 4 5
      .pad-bottom-{n}
        padding-bottom $p * n

  // Assumed to be 'wrapper's containing inner step <p>s
  div.step
    padding-bottom 0
    &:last-child
      padding-bottom $p

