
.songchart-title
  // think it's necessary to explicitly give this for transitions to work
  opacity 1
  font-size 1.5rem
  .focal
    //filter: url('#highlight')
    //color: $focal_text_color
  .contrast-song
    //color: $contrast_text_color
    //filter: url('#highlight-contrast')
    background-color $contrast_web_color
  .vs
    font-size 75%
