
.songchart-title
  if not $screenshot_mode
    .hidden
      opacity 0
  // think it's necessary to explicitly give this for transitions to work
  opacity 1
  font-size 1.5rem
  .focal
    if $screenshot_mode
      filter: url('#highlight')
    //color: $focal_text_color
  .contrast-song
    color $contrast_web_color
    //filter: url('#highlight-contrast')
    // background-color $contrast_web_color
  if $screenshot_mode
    margin-top 50px
    .hidden .contrast-song
      background-color $baseline_web_color
  .vs
    font-size 75%
