// Height of SVG in terms of viewBox/user units
$height = 50px
#story svg.year-slider
  //max-height 15vh
  min-height 0
  text.year
    text-anchor middle
    font-size ($height/3)
    font-family Helvetica, Arial, sans-serif
    font-weight bold
  $shift = 5
  .marker.focal text.year
    alignment-baseline baseline
    baseline-shift $shift
  .marker.contrast text.year
    alignment-baseline hanging
    baseline-shift (1 - $shift)
  .marker.hidden
    opacity 0
  .marker
    transition opacity 1s

// TODO: try to put a bit of side padding on highlights?
filter#highlight
  feFlood
    //flood-color yellow
    flood-color $focal_web_color
filter#highlight-contrast
  feFlood
    //flood-color lighten($contrast_color, 65%)
    flood-color $contrast_web_color
