<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{info.title}}</h1>
	<p class='intro__dek tk-atlas'>{{info.description}}</p>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
</div>

<div class="prose">
<p>
<i>TODO: intro hook.</i>
</p>
<p><i>TODO: overview of research, link to article.</i></p>
</div>

<div class="songchart graphic" data-track="Dominique" data-show_year="1">
</div>

<div class="prose">
<p>
<a href="https://www.youtube.com/watch?v=EO7cD6qmydo"><i>Dominique</i></a>, sung by Jeannine Deckers, "The Singing Nun" is certainly a bit of an oddity. First, there's the performer. At the time, the charts skewed toward attractive, young, all-American singers and groups - Lesley Gore, Bobby Vinton, The Four Seasons, The Chiffons. Deckers, an actual Belgian nun, singing in French, was not the typical <i>American Bandstand</i> type.
</p>

<p>
<i>Dominique</i> is a pleasant, upbeat song with a quick tempo and fairly high danceability and valence. But what really sets it apart from the rest of the pack is the simplicity and sparsity of its production. Deckers' vocals are overdubbed in the chorus, but otherwise, it sounds as if she might have recorded it in one take in her bedroom with a tape recorder and a guitar. This is not a "Wall of Sound" production by any means. And this is reflected in the song's unusually low energy and high acousticness.
</p>

<p>Compare to The Crystals' recording of <a href="https://www.youtube.com/watch?v=G_SXJ18EkNw">He's a Rebel</a> a year earlier, a song with a very high typicality score:
</p>
</div>

<div class="graphic songchart" data-track="He's A Rebel">
</div>

<div class="prose">
<p>
Sonically, it feels like a much "bigger" song. There are a lot of instruments in the mix, compared to <i>Dominique</i>'s lone guitar, and, importantly, we have drums articulating a clear beat, aided by handclaps starting about halfway through. Over all the instrumentation, the vocals come through powerfully with rich harmonies, overdubbing and reverb. It's a classic Spector production, that's well deserving of its high energy score. (Though its high score for liveness compared to <i>Dominique</i> is a little questionable.)
</p>


<p>
Use the widget below to explore the sonic fingerprint of any song that reached #1 on the Hot 100.
</p>
</div>

<div id='song-explorer' class='big-graphic'>
</div>
