<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{info.title}}</h1>
	<p class='intro__dek tk-atlas'>{{info.description}}</p>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
</div>

<div class="prose">
<p>
Popular music is often looked on with cynicism as insipid and endlessly recycled. Critics of the top 40 might suggest that the key to making a hit song is just to copy and paste an earlier success with some superficial variation. But recent research suggests that the opposite may be true. In their paper <a href="http://journals.sagepub.com/doi/full/10.1177/0003122417728662">What Makes Popular Culture Popular? Product Features and Optimal Differentiation in Music</a>, professors Noah Askin and Michael Mauskapf analyzed 60 years worth of tracks from the Billboard Hot 100, and found that the songs that chart highest tend to be <i>less similar</i> to their predecessors than others. It pays to be different (though not <i>too</i> different).
</div>

<div id="story">

<div class="sticky"></div>

<div class="prose scrolltext" data-clearsong="1">
<p>
The authors analyzed the songs in their dataset using <i>sonic features</i> - that is, properties calculated from the raw audio of the songs.
</p>

<p class="step" data-song="Believe" data-hide_avg="1">
Let's go over some of those features. As an example, I'll be using <i>Believe</i> by Cher, which held the #1 spot on the Billboard Hot 100 for four weeks in 1999.
</p>

<!-- placeholder filled in in jsland -->
<div id="sonicreveal"></div>

<p class="step" data-song="Believe" data-show_avg="1" data-highlight_web="baseline">
<!-- add avg + highlight, dim main web? -->
The grey region represents the 'average' song in the year before this song debuted on the charts. We can see that <i>Believe</i> is, overall, fairly typical for its time, with its most distinguishing characteristics being its high energy and low acousticness.
</p>

<div class="step" data-clearsong="1" data-year_a="1999" data-year_b="1959">
<p class="pad-bottom-3">
Let's take a note from Cher's book and <i>Turn Back Time</i> to the early years of the charts, as we explore some <i>atypical</i> hits through the years.
</p>
<p class="pad-bottom-3">
(Notice how the attributes of the average song have changed over time.)
</p>
</div> <!-- /turn-back-time -->


<div class="step" data-song="The Happy Organ"> <!-- instrumental -->

<p>Sometimes an extreme value of a single attribute can be enough to make a song notably atypical, as with <i>The Happy Organ</i> in 1959.
</p>

<p class="step" data-highlight_sonics="instrumentalness">
<i>The Happy Organ</i> was a fully instrumental track, which was fairly uncommon at the time, and became even rarer in later decades.
</p>

<p class="step" data-highlight_sonics="valence">
(The song also gets a fairly positive valence score. With a title like that, it'd be pretty disappointing if it didn't.)
</p>
</div> <!-- /instrumental -->


<div class="step" data-song="Dominique">
<p>
<a href="https://www.youtube.com/watch?v=EO7cD6qmydo"><i>Dominique</i></a>, sung by Jeannine Deckers, "The Singing Nun" is certainly a bit of an oddity. First, there's the performer. At the time, the charts skewed toward attractive, young, all-American singers and groups - Lesley Gore, Bobby Vinton, The Four Seasons, The Chiffons. Deckers, an actual Belgian nun, singing in French, was not the typical <i>American Bandstand</i> type.
</p>

<p class="step" data-highlight_sonics="tempo danceability valence">
<i>Dominique</i> is a pleasant, upbeat song with a quick tempo and fairly high danceability and valence.
</p>
<p class="step" data-highlight_sonics="energy acousticness" data-song="Dominique">
But what really sets it apart from the rest of the pack is the simplicity and sparsity of its production. Deckers' vocals are overdubbed in the chorus, but otherwise, it sounds as if she might have recorded it in one take in her bedroom with a tape recorder and a guitar. This is not a "Wall of Sound" production by any means. And this is reflected in the song's unusually low energy and high acousticness.
</p>

<div class="step" data-contrast="He's A Rebel">
<p>
Compare to The Crystals' recording of <a href="https://www.youtube.com/watch?v=G_SXJ18EkNw">He's a Rebel</a> a year earlier, a song with a very high typicality score.
</p>

<p>
Sonically, it feels like a much "bigger" song. There are a lot of instruments in the mix, compared to <i>Dominique</i>'s lone guitar, and, importantly, we have drums articulating a clear beat, aided by handclaps starting about halfway through. Over all the instrumentation, the vocals come through powerfully with rich harmonies, overdubbing and reverb. It's a classic Spector production, that's well deserving of its high energy score. (Though its high score for liveness compared to <i>Dominique</i> is a little questionable.)
</p>
</div> <!-- /rebel -->
</div> <!-- /Dominique -->

<div class="step" data-song="Love Train">
<p>
<i>Love Train</i> was arguably the first disco song to top the Hot 100. That alone suggests it ought to be a pretty atypical song, but most of its sonic attributes are in line with the songs of the time.
New genres rarely emerge out of a vacuum - they evolve out of other genres. <i>Love Train</i> probably has more in common with the Philadelphia soul tracks that came before it than with the disco tracks of a few years later. 
</p>

<p>
Notably, the song lacks the high danceability and energy common to most later disco songs. This is especially evident in the relatively milquetoast percussion.
</p>

<p>
The most atypical attributes identified by the algorithm - high instrumentalness and 0 acousticness - are questionable. This isn't an instrumental track (and doesn't even feature any signficant instrumental sections), and while there are clearly some electric guitars involved, it otherwise sounds pretty acoustic, with no traces of the drum machines or synthesizers that were soon to come.
</p>
</div>

<div
  class="step" data-song="The Hustle">
<p>
1975's <i>The Hustle</i> amps up the danceability and the energy.
</p>

<p class="step" data-highlight_sonics="instrumentalness">
It's also notable for being a mostly instrumental track. The only words sung are in the repeated hook "Do the hustle".
</p>

<p
  class="step" data-song="(Shake, Shake, Shake) Shake Your Booty">
1976's <i>(Shake, Shake, Shake) Shake Your Booty</i> has a very similar high-danceability, high-energy sonic fingerprint.
</p>
</div>

<div class="step" data-song="I Will Survive">
<p>
Gloria Gaynor's iconic <i>I Will Survive</i> reached number 1 in early 1979, just before the disco bubble popped.</p>
<p class="step" data-highlight_sonics="valence danceability energy">
The song features an interesting juxtaposition of low valence and with high energy and danceability. It's a classic "dancing through the tears" track.
</p>

<p class="step" data-contrast="Total Eclipse Of The Heart">
Though not as danceable, Bonnie Tyler's power-ballad <i>Total Eclipse Of The Heart</i>, which went to #1 in 1983, is another example of a low-valence song electrified with a relatively energetic production.
</p>
</div> <!-- /survive -->

<div> <!-- hair metal -->
<p class="step" data-song="You Give Love A Bad Name">
1986 was a big year for mainstream popularity of hair metal. Bon Jovi had previously released two albums, with their most successful single peaking at #39 on the Hot 100. But <i>You Give Love a Bad Name</i>, the debut single from their third album, rocketed to #1. The song is pretty atypical, compared to the average Hot 100 song of the time, but it demonstrates some of the hallmarks of a genre that would come to achieve a significant presence on the charts in the coming years.
</p>
<p class="step" data-highlight_sonics="danceability energy">
Hard rock is a perfect example of a genre whose songs have high energy - being <i>noisy</i>, having strident, colossal guitar solos, and hard percussion - without necessarily being danceable.
</p>
<p class="step" data-highlight_sonics="liveness">
Hard rock songs also often score high on <b>liveness</b>. Of course the versions of these songs played on the radio wouldn't actually have been recorded live, but there's a rawness to the production that gives it a live feel.
</p>
<!-- Crowd noises? Grimes ref. https://soundcloud.com/hrishihirway/song-exploder-grimes -->

<p class="step" data-song="Livin' On A Prayer">
Bon Jovi's follow-up single, <i>Livin' On A Prayer</i>, also went to #1, and features a similar profile of high energy and liveness, contrasted with low valence and danceability.
</p>

<p class="step" data-song="Here I Go Again">
Whitesnake's <i>Here I Go Again</i> has one of the most exaggerated versions of this shape, making it extremely atypical, relative to its peers on the chart. It may be an appropriate song to writhe along to on the hood of a car, but it's not much for dancing. For the first minute of the song, until the first chorus, there's no percussion, just some mellow synths and contemplative piano chords. From that point, the energy (of the instrumentals and vocals) explodes, but the overall mood remains pretty low, and the low tempo and subdued verses render it pretty undanceable.
</p>

</div> <! -- /metal -->


<div> <!-- ballads -->

<div class="step" data-song="Love Takes Time">
<p>
Ballads seemed to fall out of favour around the turn of the millenium, but they certainly had a moment in the 90's, didn't they? Mariah Carey alone sent an absurd number of pop ballads to the top of the charts, including this one from her debut album.
</p>

<p class="step" data-highlight_sonics="valence">
A signature characteristic of ballads is low valence. Ballads don't need to be about a sad topic, but even when they're written around a happy theme, their sound is serious and reflective.
</p>
<p>They also tend to be acoustic, and have relatively low danceability, tempo, and energy. (This song has been labelled with a fairly quick tempo of 126 bpm, which is a beat detection error - the true tempo is likely half of that.)
</p>
</div>

<div class="step" data-song="I'll Be There (Live-Unplugged)">
<p>
Mariah's '92 cover of The Jackson 5's <i>I'll Be There</i> has attributes typical of a ballad, but is unusual for its high liveness score. This is a rare example of a chart-topping single that was actually recorded live (for her MTV Unplugged special).
</p>
</div>

<!-- TODO: my heart will go on -->

</div> <!-- /ballads -->


<div> <!-- rap -->
<div class="step" data-song="In Da Club" data-highlight_sonics="speechiness">
<p>The golden age of hip hop may have been during the late 80's and early 90's, but it wasn't until the early 2000's that hip hop tracks began regularly hitting #1. Earlier examples were often novelties (<i>Baby Got Back</i>, <i>Ice Ice Baby</i>), or pop songs with rap elements (e.g. Paula Abdul's <i>Opposites Attract</i>, or Blondie's 1981 song <i>Rapture</i>, often cited as the first Billboard #1 to include rap).
</p>
<p class="step" data-highlight_sonics="speechiness">
Rapping often sounds a lot like spoken word, so rap songs tend to have a distinctively high speechiness score.
</p>

<p>TODO: more examples, quick slideshow. Also would be cool to see if there was an increase in the speechiness of the avg. song around this time.</p>
</div>

</div> <!-- /rap -->

<div class="step" data-song="Royals">
</div>
<div class="step" data-song="Fancy">
</div>

</div> <!-- /.prose.scrolltext -->
</div> <!-- /#story -->

<div class="prose">
<p>
Use the widget below to explore the sonic fingerprint of any song that reached #1 on the Hot 100.
</p>
</div>


<div id='song-explorer' class='big-graphic'>
</div>
