<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{info.title}}</h1>
	<p id='intro-text' class='intro__dek tk-atlas'>{{info.description}}</p>
	<p class='intro__byline tk-atlas'>By <a href='{{info.author.url}}' target='_blank'><strong>{{info.author.name}}</strong></a></p>
</div>

<div class="prose">
<p>
	For a multi-billion dollar industry, popular music has a particularly bad rap.
</p>
<p>
	Pop music is often derided as insipid and endlessly recycled, and critics of the Top 40 often suggest that the key to making a hit is just to copy and paste an earlier success with nothing more than some superficial variation. But recent research suggests that the opposite may be true.
</p>
<p>
	In their paper “<a href="http://journals.sagepub.com/doi/full/10.1177/0003122417728662">What Makes Popular Culture Popular? Product Features and Optimal Differentiation in Music</a>,” professors Noah Askin and Michael Mauskapf analyzed 60 years worth of tracks from the Billboard Hot 100, and found that the songs that chart highest tend to be <em>less similar</em> to their predecessors than others. When it comes to getting to the top of the charts, it pays to be different&#8202;—&#8202;though not <em>too</em> different.
</div>

<div id="story">

<div class="sticky-wrapper">
  <div class="sticky"></div>
</div>

<div class="right-spacer"></div>

<div id="main-prose" class="prose scrolltext" data-clearsong="1">



<p class="step unpad-bottom-3">
	The authors analyzed the sonic features&#8202;—&#8202;—properties like beat, “acousticness,” and “valence,” or mood&#8202;—&#8202;for every song that has appeared on the charts since its debut in 1955. The features are calculated directly from the raw audio of the songs.
</p>

<p class="step unpad-bottom-2" data-song="Believe" data-hide_avg="1">
	Let's go over some of those features. As an example, I'll be using “Believe” by Cher, which held the #1 spot on the Billboard Hot 100 for four weeks in 1999.
</p>

<div class="player" data-song="Believe"></div>

<!-- placeholder filled in in jsland -->
<div id="sonicreveal"></div>

<p class="step" data-song="Believe" data-show_avg="1"
  data-highlight_web="baseline" data-fade_web="focal">
<!-- add avg + highlight, dim main web? -->
	The grey region represents the “average” song in the year before this song debuted on the charts. We can see that “Believe” is, overall, fairly typical for its time, with its most distinguishing characteristics being its high energy and low acousticness.
</p>

<div class="step" data-clearsong="1" data-year_a="1999" data-year_b="1959">
<p class="step pad-bottom-3">
	Let's take a note from Cher's book and “Turn Back Time” to the early years of the charts, as we explore some <em>atypical</em> hits through the years.
</p>
<p class="step pad-bottom-3">
	(Notice how the attributes of the average song have changed over time.)
</p>
</div> <!-- /turn-back-time -->

<hr/>
<h3>1959</h3>

<div class="step" data-song="The Happy Organ"> <!-- instrumental -->

<p class="step">
	Sometimes an extreme value of a single attribute can be enough to make a song notably atypical, as with “The Happy Organ,” which topped the charts in 1959.
</p>

<div class="player" data-song="The Happy Organ"></div>

<p class="step" data-highlight_sonics="instrumentalness">
	“The Happy Organ” was a fully instrumental track, which was fairly uncommon at the time, and became even rarer in later decades.
</p>

<p class="step" data-highlight_sonics="valence">
	The song also gets a fairly positive valence score, though with a title like that, it'd be pretty disappointing if it didn't.
</p>
</div> <!-- /instrumental -->


<hr/>
<h3>1963</h3>

<div class="step" data-song="Dominique">
<p class="step">
	“<a href="https://www.youtube.com/watch?v=EO7cD6qmydo">Dominique</a>,” sung by Jeannine Deckers, the so-called “Singing Nun” is certainly a bit of an oddity. First, there's the performer. At the time, the charts skewed toward attractive, young, all-American singers and groups&#8202;-&#8202;Lesley Gore, Bobby Vinton, The Four Seasons, The Chiffons. Deckers, an actual Belgian nun, singing in French, was hardly the typical <cite>American Bandstand</cite> fodder.
</p>

<div class="player" data-song="Dominique"></div>

<p class="step" data-highlight_sonics="tempo danceability valence">
	“Dominique” is a pleasant, upbeat song with a quick tempo and fairly high danceability and valence.
</p>
<p class="step" data-highlight_sonics="energy acousticness" data-song="Dominique">
	But what really sets it apart from the rest of the pack is the simplicity and sparseness of its production. Deckers’ vocals are overdubbed in the chorus, but otherwise, it sounds as if she might have recorded it in one take in her bedroom with a tape recorder and a guitar. This is not a “Wall of Sound,” the production formula developed by Phil Spector that dominated the charts in the 1960s, by any means. And this is reflected in the song's unusually low energy and high acousticness.
</p>

<div class="step" data-contrast="He's A Rebel">
<p class="step">
	Compare to The Crystals’ recording of “He's a Rebel,” produced by Spector, a year earlier, a song with a very high typicality score.
</p>

<div class="player" data-song="He's A Rebel"></div>

<p class="step">
	Sonically, it feels like a much “bigger” song. There are a lot of instruments in the mix, compared to “Dominique”’s lone guitar, and, importantly, we have drums articulating a clear beat, aided by the handclaps that start about halfway through. Over all the instrumentation, the vocals come through powerfully with rich harmonies, overdubbing and reverb. It's a classic Spector production, that's well deserving of its high energy score.
</p>
</div> <!-- /rebel -->
</div> <!-- /Dominique -->

<hr/>
<h3>1973</h3>

<div class="step" data-song="Love Train">
<p class="step">
	“Love Train” was arguably the first disco song to top the Hot 100. That alone suggests it ought to stand out, but most of its sonic attributes are in line with the songs of the time.
</p>

<div class="player" data-song="Love Train"></div>

<p class="step">
	New genres rarely emerge out of a vacuum&#8202;-&#8202;they evolve out of other genres, and “Love Train” probably has more in common with the Philadelphia Soul tracks that came before it&#8202;-&#8202;themselves an evolution of the Motown sound&#8202;-&#8202;than with the disco tracks of a few years later.
</p>

<p class="step">
	Notably, the song lacks the high danceability and energy common to most later disco songs. This is especially evident in the relatively milquetoast percussion.
</p>

<p class="step">
	The most atypical attributes identified by the algorithm&#8202;-&#8202;high instrumentalness and no acousticness&#8202;-&#8202;are questionable. This isn't an instrumental track (and doesn't even feature any signficant instrumental sections), and while there are clearly some electric guitars involved, it otherwise sounds pretty acoustic, with no traces of the drum machines or synthesizers that were soon to come.
</p>
</div>

<div class="step" data-song="The Hustle">
<p class="step">
	By 1975, disco as we know it today had more firmly taken shape. That year’s ’“The Hustle” amped up the danceability and the energy.
</p>

<p class="step" data-highlight_sonics="instrumentalness">
	It's also notable for being a mostly instrumental track. The only words sung in the song are the repeated hook “Do the hustle.”
</p>

<p class="step" data-song="(Shake, Shake, Shake) Shake Your Booty">
	1976’s disco hit “(Shake, Shake, Shake) Shake Your ” has a very similar sonic fingerprint, with high danceability and high energy.
</p>
</div>

<div class="step" data-song="I Will Survive">

<div class="player" data-song="I Will Survive"></div>

<p class="step">
	Gloria Gaynor's iconic “I Will Survive” reached number 1 in early 1979, just before the disco bubble popped.</p>
<p class="step" data-highlight_sonics="valence danceability energy">
	The song features an interesting juxtaposition of low valence with high energy and danceability. It's a classic “dancing through the tears” track that stood out from its peers in part by dint of a much sparser production than was typical of disco songs at the time.
</p>

<div class="step" data-contrast="Total Eclipse Of The Heart">
<p class="step">
By 1983, emotional ballads like “I Will Survive,” with their roots in Soul music, had mixed with the ascendent pop rock to produce the power ballads of the 1980s. Though not as danceable as “I Will Survive,” Bonnie Tyler's power-ballad “Total Eclipse Of The Heart,” which went to #1 in 1983, similarly electrified a low-valence song with an energetic production.
</p>

<div class="player" data-song="Total Eclipse Of The Heart"></div>

</div> <!-- /eclipse-contrast -->
</div> <!-- /survive -->

<hr/>
<h3>1986</h3>

<div> <!-- hair metal -->
<p class="step" data-song="You Give Love A Bad Name">
	1986 was a big year for mainstream popularity of hair metal. Bon Jovi had previously released two albums, with their most successful single peaking at #39 on the Hot 100. But “You Give Love a Bad Name,” the debut single from their third album, rocketed to #1. The song is pretty atypical compared to the average Hot 100 song of the time, but it demonstrates some of the hallmarks of a genre that would achieve a significant presence on the charts in the coming years.
</p>
<div class="player" data-song="You Give Love A Bad Name"></div>

<p class="step" data-highlight_sonics="danceability energy">
	Hard rock is a perfect example of a genre whose songs are defined by their energy&#8202;-&#8202;<em>noisy</em> and strident, and filled with colossal guitar solos and hard percussion&#8202;-&#8202;without necessarily being danceable.
</p>
<p class="step" data-highlight_sonics="liveness">
	Hard rock songs also often score high on <b>liveness</b>. Of course, almost none of the versions of these songs that played on the radio would have actually been recorded live, but there's a rawness to the production that gives it a live feel.
</p>
<!-- Crowd noises? Grimes ref. https://soundcloud.com/hrishihirway/song-exploder-grimes -->

<p class="step" data-song="Livin' On A Prayer">
	Bon Jovi's follow-up single, “Livin’ On A Prayer,” also went to #1, and features a similar profile of high energy and liveness, contrasted with low valence and danceability.
</p>

<div class="step" data-song="Here I Go Again">
<p class="step">
	Whitesnake’s “Here I Go Again” has one of the most exaggerated versions of the prototypical metal song graph, making it extremely atypical, relative to its peers on the chart.
</p>
<div class="player" data-song="Here I Go Again"></div>

<p class="step">
It may be an appropriate song to writhe along to on the hood of a car, but it's not much for dancing. For the first minute of the song, until the first chorus, there's no percussion, just some mellow synths and contemplative piano chords. From that point, the energy of the instrumentals and vocals explodes, but the overall mood remains pretty low, and the low tempo and subdued verses render it virtually undanceable.
</p>
</div> <!-- /here I go again -->

</div> <!-- /metal -->


<div> <!-- ballads -->

<hr/>
<h3>1990</h3>

<div class="step" data-song="Love Takes Time">
<p>
	Pop ballads, power ballads sweeter siblings, seemed to fall out of favour around the turn of the last millenium, but they certainly had a moment in the 1990s. Mariah Carey alone sent an absurd number of pop ballads to the top of the charts, including “Love Takes Time,” from her debut album.
</p>
<div class="player" data-song="Love Takes Time"></div>

<p class="step" data-highlight_sonics="valence">
	A signature characteristic of ballads is low valence. Ballads don't need to be about a sad topic, but even when they're written around a happy theme, their sound is serious and reflective.
</p>
<p class="step">
	Ballads also tend to be acoustic, and have relatively low danceability, tempo, and energy.
</p>
</div>

<div class="step" data-song="I'll Be There (Live-Unplugged)">
<p class="step">
	Mariah’s ’92 cover of The Jackson 5’s “I'll Be There” has attributes typical of a ballad, but is unusual for its high liveness score. The song was an enormously successful single from Carey’s MTV Unplugged appearance, and a rare example of a chart-topping single that was actually recorded live.
</p>
</div>

<!-- TODO: my heart will go on -->

</div> <!-- /ballads -->


<hr/>
<h3>1997</h3>

<div> <!-- rap -->
<div class="step" data-song="Hypnotize">
<p class="step">
	The golden age of hip hop may have been during the late 80's and early 90's, but the Billboard Hot 100 was a bit slow to catch up.
        
Before the mid-90's, #1 songs featuring rap were rare, and often novelties (“Baby Got Back,” for example, and “Ice Ice Baby”), or pop songs with rap elements (e.g., Paula Abdul's “Opposites Attract,” or Blondie's 1981 song “Rapture,” often cited as the first Billboard #1 song to include rap).
</p>

<p class="step">
{Hypnotize} hit number 1 in 1997, shortly after Notorious B.I.G.'s untimely death.
</p>
<div class="player" data-song="Hypnotize"></div>

<p class="step" data-highlight_sonics="speechiness">
	Rapping often sounds a lot like spoken word, so rap songs tend to have a distinctively high speechiness score.
</p>
</div>

<div class="step" data-song="Mo Money, Mo Problems">

<p class="step">
{Mo Money, Mo Problems} was released later the same year, giving B.I.G. his second posthumous number 1.
</p>
<div class="player" data-song="Mo Money, Mo Problems"></div>


<!-- XXX: not sure if this nesting of div.step is gonna work... -->
<div class="step" data-contrast="Hypnotize" data-highlight_sonics="danceability">
<p class="step">
The two songs have a similar sonic shape, including a slow tempo, high valence and energy, and very high danceability.
</p>
<p class="step">
Rap may not be conventionally thought of as a very danceable genre, but these songs have a strong beat and both use the trick of having a catchy chorus sung by a female vocalist.
</p>
</div>

</div><!-- /MM,MP -->

<p class="step" data-song="Ms. Jackson" data-sonic_highlights="danceability energy">
In 2001, OutKast reached number 1 following a similar sonic blueprint. {Ms. Jackson} is another track with rapped verses anchored by a simple, catchy sung chorus.
</p>
<div class="player" data-song="Ms. Jackson"></div>

<!-- lose yourself? -->

<div class="step" data-song="Drop It Like It's Hot">
<p class="step">
Snoop Dogg's {Drop It Like It's Hot} hit number 1 in 2004, and was later named the most popular rap song of the decade by Billboard.
</p>
<div class="player" data-song="Drop It Like It's Hot"></div>

<p class="step">
Drop It Like It's Hot shares many characteristics with the previous hip-hop number ones we've seen: high speechiness and danceability and a slow tempo.
</p>

<p class="step" data-sonic_highlights="energy">
But it stands out for having incredibly low energy. Listening to the song, this feels like an accurate assessment. The mood is laid-back, Snoop Dogg's delivery is casually cocky, and, above all, the production, courtesy of The Neptunes, is starkly minimalist. The song features some oddball percussion (notably including tongue clicks) some restrained, occasional synths, and beneath it all, what sounds like the persistent hiss of a white noise machine. And that's about all.
</p>
</div>

<p class="step" data-song="Hollaback Girl">
The mid 2000's also saw a few pop stars reach number 1 with songs featuring quasi-rap elements. For example, Gwen Stefani's 2005 hit {Hollaback Girl} - the shouty vocals of which probably owe more to Toni Basil than N.W.A. This pop oddity is another Neptunes production.
</p>
<div class="player" data-song="Hollaback Girl"></div>

<p class="step" data-song="London Bridge">
Fergie's 2006 number one {London Bridge} is another example of a pop song with vocals lying somewhere between rapping, chanting and shouting. Despite being derided as a {Hollaback Girl} rip-off upon its release, its sonic attributes are strikingly different (being less danceable, much slower, and much less energetic).
</p>
<div class="player" data-song="London Bridge"></div>

</div> <!-- /rap -->

<hr/>
<h3>2013</h3>

<div class="step" data-song="Royals">
<p class="step">
	Lorde burst on the scene in 2013 with her singular debut single, “Royals.”
</p>
<div class="player" data-song="Royals"></div>

<p class="step">
	“Royals” has been described as “minimalist pop,” and its sonic attributes match that description well. With the exception of dancability, all are dramatically pared down compared to the previous year’s average
</p>

<p class="step">
	The song is notable both for its relatively high level of “speechiness,” perhaps explaining in part its subsequent heavy rotation on hip-hop and R&amp;B stations, and its particularly low valence.
</p>

<p class="step">
	A low valence song can go in a lot of different directions...
</p>

<p class="step" data-contrast="I Will Survive">
	We've seen an emotional disco anthem with a fast, danceable, high-energy beat...
</p>

<p class="step" data-contrast="Total Eclipse Of The Heart">
	And an 80's power ballad: slow and undanceable, but with bombastic energy....
</p>

<p class="step" data-contrast="My Heart Will Go On">
	And some serious diva ballads: slow, low-energy, and undanceable...
</p>

<p class="step">
	But this is our first example of a low-valence song that is slow and unenergetic, but still danceable.
</p>

<p class="step">
	The key here is the primacy of the beat. The crisp fingersnaps of the song's backbeat are our constant companion. Beyond Lorde's vocals, the percussion is the main attraction, and there's very little other instrumentation to draw our attention away.
</p>

<p class="step">
	Its slow tempo may prevent it from being truly danceable, but it's certainly a toe-tapper.
</p>

<div class="step" data-contrast="Fancy">
<p class="step">
	“Fancy,” 2014's undisputed song of the summer, follows a somewhat similar template, with some extra danceability and energy.
</p>
<div class="player" data-song="Fancy"></div>

<p class="step">
	It's another slow-but-danceable song with a strong, punchy backbeat.
</p>

<p class="step">
		It also adds a catchy, persistent synthesized bassline and dials up the energy with Charli XCX's shouty vocals on the chorus.
</p>
</div>

</div><!-- /royals -->

</div> <!-- /.prose.scrolltext -->
</div> <!-- /#story -->

<div class="prose">
<p>
Use the widget below to explore the sonic fingerprint of any song that reached #1 on the Hot 100.
</p>
</div>


<div id='song-explorer' class='big-graphic'>
</div>


<div class="prose">
<h2>Appendix</h2>

<p>
Data is courtesy of Michael Mauskapf. Sonic attribute data ultimately originates from Spotify's <a href="https://developer.spotify.com/spotify-echo-nest-api/">Echo Nest API</a>.
</p>

<p>
The paper on which this is based,  “What Makes Popular Culture Popular? Product Features and Optimal Differentiation in Music,” uses a few additional attributes from Echo Nest not shown here, namely the song's key, its mode (major or minor), and its time signature. (As categorical attributes, these would have been difficult to incorporate into the visualizations shown here.)
</p>

<p>
For the sake of simplicity, I manually corrected the tempo of two of the example songs visualized above ({Total Eclipse Of The Heart}, and {Love Takes Time}) to 1/2 of the algorithmically inferred tempo. Exploring the full catalog of number ones, you may still notice a few examples of songs whose detected tempo is half or double what it should be (such as {Hey Jude}).
</p>

<p>
The code for this essay is available on GitHub <a href="https://github.com/colinmorris/atypicality">here</a>.
</p>
</div>
